@font-face {
  font-family: 'pt_serif';
  src: url('../font/PT_Serif-Web-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'league_spartan';
  src: url('../font/league-spartan.bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}