@import "neat/neat-helpers";

// Change the grid settings
$column: 75px;
$gutter: 5px;
$grid-columns: 12;
$max-width: 960px;

// Define your breakpoints
$desktop: new-breakpoint(max-width 960px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);